@model IEnumerable<knihaJizd.Models.Drives>

@{
    ViewBag.Title = "Moje jízdy";
}

<h1>@ViewBag.Title</h1>

@if (ViewBag.empty)
{
    <h3 class="text-center">Nemáte žádné jízdy</h3>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars.Name) automobilu
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate) jízdy
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StopDate) jízdy
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StopKm)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cars.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StopDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartKm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StopKm)
                </td>
                <td class="text-right">
                    @if (item.StopKm == 0 || item.StopKm == null)
                    {
                        @Html.ActionLink("nahlasit nehodu", "../Accidents/Create", new { id = item.Id }, new { @class = "btn btn-xs btn-danger" })
                        @Html.ActionLink("Ukončit jízdu", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })
                    }
                </td>
            </tr>
        }

    </table>

}

