@using Microsoft.AspNet.Identity
@using knihaJizd.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav">


            @if (Helper.isAdmin(User.Identity.GetUserId()))
            {
                <li>@Html.ActionLink("Administrace", "Index", "Administration")</li>
            }

            <li>@Html.ActionLink("Začít jízdu", "Index", "Cars")</li>
            <li>@Html.ActionLink("Moje jízdy", "Index", "Drives")</li>
        </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Odhlásit</a></li>
    </ul>
    }
}
