@model knihaJizd.Models.Cars

@{
    ViewBag.Title = "Smazat automobil";
}

<h1>@ViewBag.Title</h1>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPZ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.Photo)" alt="">
        </dd>
        
    </dl>

    <h3 class="text-danger">Opravdu chcete smazat?</h3>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-right">
            <input type="submit" value="Smazat" class="btn btn-danger" />
        </div>
    }
</div>
