@model IEnumerable<knihaJizd.Models.Cars>

@{
    ViewBag.Title = "Automobily";
}
<div class="clearfix">
    <h1 class="pull-left">@ViewBag.Title</h1>
    <div class="pull-right">
        @Html.ActionLink("Přidat automobil", "CarsCreate", null, new { @class="btn btn-success" })
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPZ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>


@foreach (var item in Model)
{
    <tr @(item.DriveAble ? String.Empty : "class=bg-danger" )>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Photo)" alt="">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPZ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td class="text-right">
            @Html.ActionLink("Smazat", "CarsDelete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
            @Html.ActionLink("Upravit", "CarsEdit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
        </td>
    </tr>
        
}

</table>
