@model IEnumerable<knihaJizd.Models.Drives>

@{
    ViewBag.Title = "Jízdy";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cars.Name) automobilu
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartKm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopKm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Name) 
            @Html.DisplayFor(modelItem => item.AspNetUsers.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cars.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartKm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopKm)
        </td>
    </tr>
}

</table>
