@model knihaJizd.Models.AspNetUsers
@{
    ViewBag.Title = "Detail uživatele";
}

<div class="clearfix">
    <h1 class="pull-left">@ViewBag.Title</h1>
    <div class="pull-right">
        @Html.ActionLink("Upravit", "UsersEdit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    </div>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
   
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>@Html.DisplayNameFor(model => model.Surname)</dt>
        <dd>@Html.DisplayFor(model => model.Surname)</dd>
        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
        <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
        <dt>@Html.DisplayNameFor(model => model.Address)</dt>
        <dd>@Html.DisplayFor(model => model.Address)</dd>
        <dt>@Html.DisplayNameFor(model => model.DrivingLicenceId)</dt>
        <dd>@Html.DisplayFor(model => model.DrivingLicenceId)</dd>
    </dl>
</div>
