@model IEnumerable<knihaJizd.Models.AspNetUsers>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Uživatelé";
}

<div class="clearfix">
    <h1 class="pull-left">@ViewBag.Title</h1>
    <div class="pull-right">
        @Html.ActionLink("Přidat uživatele", "../Account/Register", null, new { @class = "btn btn-success" })
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="text-right">
                @if (item.Id != User.Identity.GetUserId())
                {
                    @Html.ActionLink("Smazat", "UsersDelete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                }
                @Html.ActionLink("Detail", "UsersDetail", new { id = item.Id }, new { @class ="btn btn-primary btn-xs" })
            </td>
        </tr>
    }

</table>