@model knihaJizd.Models.AspNetUsers
@{
    ViewBag.Title = "Smazat uživatele";
}

<h1>@ViewBag.Title</h1>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>@Html.DisplayNameFor(model => model.Surname)</dt>
        <dd>@Html.DisplayFor(model => model.Surname)</dd>
        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
        <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
        <dt>@Html.DisplayNameFor(model => model.Address)</dt>
        <dd>@Html.DisplayFor(model => model.Address)</dd>
        <dt>@Html.DisplayNameFor(model => model.DrivingLicenceId)</dt>
        <dd>@Html.DisplayFor(model => model.DrivingLicenceId)</dd>
    </dl>

    <h4 class="text-danger">Opravdu chcete smazat?</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-right">
            <input type="submit" value="Smazat" class="btn btn-danger" />
        </div>
    }
</div>
